node_modules

#  now ignore all the public files there is some unwanted js and css file.
# Also some lote of images uplode in testing time after complete the project public folder will uplode 
public
