
<section>
    <div class="container">
<h3 class="text-center text-primary mb-3 mt-3" style="font-family: 'Courgette', cursive;font-weight: bolder;">Add Teachers Account</h3>
        <form action="/admin/add-teachers-data" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" name="Name" required>

                    <div class="mt-3 mb-2">
                        <label class="form-label">Sex</label>
                        <label> </label>
                        <input class="form-check-input" type="radio" name="Sex" value="Male" checked>
                        <label class="form-label">Male</label>

                        <input class="form-check-input" type="radio" name="Sex" value="Female">
                        <label class="form-label">Female</label>
                    </div>
                    <label class="form-label">Date of Barth</label>
                    <input class="form-control mb-2" type="date" name="DoB" required>

                    <label class="form-label">House Name</label>
                    <input type="text" class="form-control mb-2" name="HouseName" required>

                    <label class="form-label">Place</label>
                    <input type="text" class="form-control mb-2" name="Place" required>

                    <label class="form-label">Mobile Number</label>
                    <input type="tel" class="form-control" name="Mob" required>

                </div>

                <div class="col-md-6">

                    <label for="">Profile Image</label>
                    <input type="file" name="ProfileImage" class="form-control mb-2" required>

                    <select class="form-select mt-3" name="Department" required>
                        <option selected>Department</option>
                        <option value="Computer studies">Computer studies</option>
                        <option value="Economics">Economics</option>
                        <option value="Commerce">Commerce</option>
                        <option value="English">English</option>
                        <option value="Malayalam">Malayalam</option>
                        <option value="Hindi">Hindi</option>
                    </select>

                    <select class="form-select mt-3" name="Designation">
                        <option selected>Designation</option>
                        <option value="Assistant Professor">Assistant Professor</option>
                        <option value="Professor">Professor</option>
                        <option value="HOD">HOD</option>
                    </select>

                    <small class="text-center" style="font-style: italic;color: grey;font-size: 12px;">--for login
                        information--</small><br>
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control mb-2" name="Email" required>

                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="Password" required>

                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </form>

    </div>
</section>