<section>
    <div class="container mt-5">
        <div class="row col-md-6">
            <h3 class="text-center fm-bold text-primary">Account for Librarian</h3>
            <form action="">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" name="Name">

                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="Email">

                <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
                <input type="number" class="form-control" name="Number">

                <label for="exampleInputEmail1" class="form-label">Designation</label>
                <input type="email" class="form-control" name="Designation">

                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="Password">

                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>
</section>